{% extends 'CHCGruposBundle::layout.html.twig' %}

{% block body %}
  
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gestor de grupos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: checkTabMenu(0)}"><a ng-click="setTabMenu(0)" href="#">Hermanos</a></li>
            <li ng-class="{active: checkTabMenu(1)}"><a ng-click="setTabMenu(1)" href="#about">Grupos</a></li>     
          </ul>
        </div><!--/.nav-collheapse -->
      </div>
    </nav>    
      
 
    <div class="container theme-showcase" role="main">

        <div ng-show="checkTabMenu(0)">  

            <div class="page-header">
                <h1>Listado de hermanos</h1>
            </div>

            <div id="total_hermanos" class="row">
                <div class="col-sm-4">
                    {% verbatim %} {{ numPersonas() }} {% endverbatim %}hermanos para hacer grupos.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Matrimonios
                                <button type="button" class="btn btn-success" ng-click="showMatrimonioForm=!showMatrimonioForm"><i class="fa fa-plus"></i> +</button>
                            </h3>
                        </div>
                        <div class="panel-body" droppable>

                            <form name="matrimonioForm" ng-submit="addMatrimonio()" ng-show="showMatrimonioForm">
                              <!--  Review Form -->
                              <fieldset class="form-group">
                                <input type="text" ng-model="matrimonio_nuevo.nombre" class="form-control" placeholder="nombre" title="Nombre" />
                                <input type="submit" class="btn btn-primary pull-right" value="Añadir" />
                              </fieldset>
                            </form>
                            
                            <ul class="list-group" ng-cloak>
                                <li class="list-group-item" ng-repeat="matrimonio in matrimonios" draggable>
                                    {% verbatim %} {{ matrimonio.nombre }} {% endverbatim %}
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-warning" ng-click="ausentarMatrimonio($index)"><span class="glyphicon glyphicon-log-out"></span></button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteMatrimonio($index)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->

                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Solteros
                                <button type="button" class="btn btn-success" ng-click="showSolteroForm=!showSolteroForm"><i class="fa fa-plus"></i> +</button>
                            </h3>
                        </div>
                        <div class="panel-body" droppable>
                            
                            <form name="solteroForm" ng-submit="addSoltero()" ng-show="showSolteroForm">
                              <fieldset class="form-group">
                                <input type="text" ng-model="soltero_nuevo.nombre" class="form-control" placeholder="nombre" title="Nombre" />
                                <input type="submit" class="btn btn-primary pull-right" value="Añadir" />
                              </fieldset>
                            </form>
                            
                            <ul class="list-group" ng-cloak>
                                <li class="list-group-item" ng-repeat="soltero in solteros" draggable>
                                    {% verbatim %}{{ soltero.nombre }}{% endverbatim %}
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-warning" ng-click="ausentarSoltero($index)"><span class="glyphicon glyphicon-log-out"></span></button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteSoltero($index)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                    </span>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->

                <div class="col-sm-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ausentes</h3>
                        </div>
                        <div class="panel-body" id="panel-body-ausente" droppable>
                            <ul class="list-group" ng-cloak>
                                <li class="list-group-item" ng-repeat="ausente in ausentes" draggable>
                                    {% verbatim %}{{ ausente.nombre }}{% endverbatim %}
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-success" ng-click="desAusentar($index)"><span class="glyphicon glyphicon-log-in"></span></button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteAusente($index)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->


            </div>  


        </div>    

        <div ng-show="checkTabMenu(1)">  

            <div class="page-header">
                <h1>Grupos</h1>
            </div> 

            
            
            <div class="row">
                <div class="col-sm-12 center-block">
                    
                    <form class="form-inline">
                        <div class="form-group">
                          <label for="num_grupos">Hacer</label>
                          <select id="num_grupos" ng-model="num_grupos">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                          </select> 
                          grupos de mínimo {% verbatim %}{{ Math.floor(numPersonas() / num_grupos) }}{% endverbatim %} personas
                        
                          <button type="button" class="btn btn-default" ng-click="hacerGrupos();">Hacer grupos</button>
                        </div>
                        
                    </form>

                </div>              
   
            </div>
          
            <div class="row">
                <div class="col-sm-4" ng-repeat="grupo in grupos">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="hermano in grupo" ng-class="{ 'bg-success': $first }">{% verbatim %}{{ hermano.nombre }}{% endverbatim %}</li>
                  </ul>
                </div><!-- /.col-sm-4 -->
                
            </div>
 
        </div>   



    </div>
                    
{% endblock %}

{% block initjs %}
    <script>
        var url_matrimonios_get = '{{ path('chc_matrimonios_get', {'codigo': comunidad}) }}';
        var url_solteros_get = '{{ path('chc_solteros_get', {'codigo': comunidad}) }}';
        var url_ausentes_get = '{{ path('chc_ausentes_get', {'codigo': comunidad}) }}';
        
        var url_matrimonios_post = '{{ path('chc_matrimonios_post', {'codigo': comunidad}) }}';
        var url_solteros_post = '{{ path('chc_solteros_post', {'codigo': comunidad}) }}';
        var url_ausentes_post = '{{ path('chc_ausentes_post', {'codigo': comunidad}) }}';
        
        var url_matrimonios_delete = '{{ path('chc_matrimonios_delete', {'codigo': comunidad, 'id':'*'}) | trim('*') }}';
        var url_solteros_delete = '{{ path('chc_solteros_delete', {'codigo': comunidad, 'id':'*'}) | trim('*')  }}';
        var url_ausentes_delete = '{{ path('chc_ausentes_delete', {'codigo': comunidad, 'id':'*'}) | trim('*')  }}';
        
        var url_hermanos_put = '{{ path('chc_hermanos_put', {'codigo': comunidad, 'id':'*'}) | trim('*') }}';
    </script>
{% endblock %}